/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS
/*******************************************/

/* Coolors Exported Palette - coolors.co/222222-857f74-28666e-26547c-ef476f */

$color1: #222222; //rgba(34, 34, 34, 100) black
$color2: #857f74; //rgba(133, 127, 116, 100) gray
$color3: #28666e; //rgba(40, 102, 110, 100) green
$color4: #26547c; //rgba(38, 84, 124, 100) blue
$color5: #ef476f; //rgba(239, 71, 111, 100) pink


/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
	max-width: 960px;
	margin: 0 auto;
}

.site-header {

}
.site-header h1 {
	color:red;
}
.site-content {

}
.site-footer {

}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




